<% if @data.success? %>
  <div class="uk-width-1-1 uk-width-1-2@m">
    <%= image_tag @data.weather_icon_url, "uk-svg" => "", class: "weather-icon" %>
  </div>
  <div class="uk-width-1-1 uk-width-1-2@m uk-text-center uk-text-left@m">
    <div class="city-country">
      <strong><%= @data.city %></strong>, <%= @data.country %>
    </div>
    <div class="degrees">
      <%= @data.temp %> deg
    </div>
    <div>
      <strong>Currency:</strong> <%= @data.currency %>
    </div>
  </div>
<% else %>
  <div class="uk-width-1-1 uk-width-1-2@m">
    <%= image_tag "error.svg", "uk-svg" => "", class: "weather-icon" %>
  </div>
  <div class="uk-width-1-1 uk-width-1-2@m uk-text-center uk-text-left@m">
    <% unless @data.success?%>
      <div class="city-country">
        <strong>Message:</strong> <%= @data.error_message %>
      </div>
      <div class="degrees">
        Code: <%= @data.code %>
      </div>
    <% end %>
  </div>
<% end %>
