<% if @report.success? and @info.success? %>
  <div class="uk-width-1-1 uk-width-1-2@m">
    <%= image_tag "weather_icons/#{@report.weather[:main].downcase}.svg", "uk-svg" => "", class: "weather-icon" %>
  </div>
  <div class="uk-width-1-1 uk-width-1-2@m uk-text-center uk-text-left@m">
    <div class="city-country">
      <strong><%= @report.city %></strong>, <%= @info.name %>
    </div>
    <div class="degrees">
      <%= @report.weather[:temp] %> deg
    </div>
    <div>
      <strong>Currency:</strong> <%= @info.currencies.first["code"] %>
    </div>
  </div>
<% else %>
  <div class="uk-width-1-1 uk-width-1-2@m">
    <%= image_tag "error.svg", "uk-svg" => "", class: "weather-icon" %>
  </div>
  <div class="uk-width-1-1 uk-width-1-2@m uk-text-center uk-text-left@m">
    <% unless @info.success?%>
      <div class="city-country">
        <strong>Message:</strong> <%= @info.message %>
      </div>
      <div class="degrees">
        Code: <%= @info.code %>
      </div>
      <div>
        <strong>Service:</strong> CountryInfo
      </div>
    <% end %>

    <% unless @report.success?%>
      <div class="city-country">
        <strong>Message:</strong> <%= @report.message %>
      </div>
      <div class="degrees">
        Code: <%= @report.code %>
      </div>
      <div>
        <strong>Service:</strong> WeatherReport
      </div>
    <% end %>
  </div>
<% end %>
